$container-height: 600px;
$header-height: $container-height / 3;
$container-width: 380px;
$border-radius: 20px;

$item-height: 45px;

$main-color: #FFFFFF;
$main-dark-color: #000000;
$accent-color: #4162F6;
$disabled-color: #CCCCCC;
$background-color: rgba($main-dark-color, .1);
